      /******* the MINIMAL COMPACT FRAMEWORK******/
      /* Version Flexbox Grid 1.1 */

        /* Basic Reset */
      * {
        margin: 0;
        padding: 0;
        font-size: 100%;
        box-sizing: border-box;
      }

      .central_row {
          margin: 0 auto;
          display: flex;
      }

      .wide_row {
          padding: 20px;
          display: flex;
      }
      /* basic padding */
      .flex_col {
          padding: 20px;
      }
      /* three columns */
      .three_col {
          width: 33.333%;
      }

      /* two columns */
      .two_col {
          width: 50%;
      }
      /* Menu Nav*/
      .flex_menu{
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        
    }
    .menu_item{
        justify-content: space-around;
    }

   /* MEDIA QUERY */

      @media (max-width:768px) {  
          .three_col,
          .two_col {
              width: 100%;
          }

          .central_row,
          .wide_row,
          .flex_menu {
              width: auto;
              flex-direction: column;
          }
      }

      @media (min-width:960px) {
          .central_row {
              width: 960px;
          }
      }
